<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


Hello recipient! Thanks for registration
Please confirm you account: {{ activate_url }}

</body>
</html>